<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="artistTitle"></title>
    <!-- Justin Biever o bad bunny o rosalia o billy elish o tangana -->
    <!-- Bootstrap Library CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- General CSS -->
    <link rel="stylesheet" href="../public/css/general.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Inconsolata:wght@200..900&display=swap"
        rel="stylesheet">
</head>

<body>


    <nav class="navbar bg-nav-umb fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand gupter-bold text-show" id="titleNavBar"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end bg-nav-umb" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title gupter-regular" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show active" aria-current="page"
                                id="navBarMainTitle1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="introduction1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="methodology1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="theme1"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle gupter-regular" href="#" role="button" id="examples"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu bg-nav-umb">
                                <li><a class="dropdown-item gupter-regular text-show" id="person1" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person2" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person3" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person4" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person5" href="#"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2 gupter-regular" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-primary gupter-regular" type="submit" id="search"></button>
                    </form>
                </div>
            </div>
        </div>
    </nav>


    <h1 class="text-center gupter-regular" style="margin-top: 7%;" id="titleArtist"></h1>

    <div id="paragraphArtist1" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
            Justin Bieber ostenta una audiencia considerable en las redes sociales, con un total de 235
            millones de seguidores en Instagram, 114 millones en Twitter, 91 millones en Facebook y 24,6
            millones en TikTok. De manera destacada, la plataforma de preferencia del artista es
            Instagram, donde realiza aproximadamente diez publicaciones por semana,
            mayoritariamente en formato carrusel de imágenes. Cabe señalar que una parte significativa
            del contenido compartido en Instagram se replica en su cuenta de Facebook. <br> Contrariamente,
            el empleo de TikTok se presenta de manera residual, con un total de seis publicaciones en el
            periodo analizado.<br> A pesar de la elevada cantidad de seguidores en Twitter, se destaca la
            limitada actividad en dicha plataforma, evidenciada por la emisión de un único tuit.<br> El
            contenido exhibido en las plataformas de redes sociales de Justin Bieber se orienta
            principalmente hacia la promoción e información relativa a su carrera musical. Además, se
            vislumbra contenido que aborda la esfera personal del artista, mostrando aspectos de su vida
            cotidiana, su círculo familiar, amigos y otras dimensiones de su día a día (Figura 1). <br>En este
            contexto, las publicaciones emitidas en Instagram y TikTok se diseñan con la intención de
            entretener y fomentar el engagement con su comunidad de seguidores. No obstante, en
            menor medida y exclusivamente en la plataforma de Instagram, se identifican otras
            publicaciones de relevancia que buscan concientizar, educar y difundir los valores y la fe del
            artista con relación a su creencia en Dios.<br>
            Los comentarios de los seguidores se centran predominantemente en elogiar al artista
            mediante el uso de emoticonos y mensajes afectuosos. De manera adicional, se observa que
            los seguidores intercambian comentarios entre sí y expresan su aprobación mediante "me
            gusta" en las observaciones de otros. <br>En lo que respecta a la interacción directa de Justin
            Bieber con sus seguidores, no se aprecia ningún tipo de retroalimentación por parte del artista
            en ninguna de sus plataformas, manteniendo así una distancia en cuanto a la interacción con
            su comunidad.<br>
            En las publicaciones relacionadas con música y conciertos, se manifiesta un tono comunicativo
            de naturaleza neutra e informativa, reservando la expresión emocional para aquellos
            contenidos que abordan su vida personal.<br> En el análisis de las entrevistas, se observa la
            intención del artista de establecer una conexión cercana con su audiencia, empleando frases
            como "quiero que la gente piense de mí: este tío realmente es solo un humano" (Bieber, 2020,
            1m20s) y "me gusta contar mi historia... quiero estar conectado con la gente e influir a otras
            personas" (Bieber, 2020, 18m43s). Así, la identidad del artista se fundamenta en la sinceridad
            y la sensibilidad (Bieber, 2022, 5m20s).<br>
            En cuanto al contenido de sus redes sociales y su elección de vestimenta, se aprecia una
            amplia gama de colores, con una marcada predilección por los tonos neón, provenientes tanto
            de las luces de los conciertos como de su vestimenta. El artista adopta un estilo casual y
            urbano, caracterizado por el uso de sudaderas, pantalones anchos y zapatillas deportivas,
            complementando sus atuendos con accesorios como gafas de sol, gorros y gorras.<br> Este
            enfoque, identificado como un estilo Street, otorga especial importancia a los tatuajes, que
            no solo contribuyen a definir su apariencia física, sino que también encapsulan aspectos de su
            personalidad y sus ideas.<br> Un ejemplo de ello es el tatuaje de una rosa en su cuello, que
            simboliza los momentos difíciles de su vida (Bieber, 2020).<br>
            Es relevante señalar que no existe una marcada discrepancia en la elección de vestimenta
            entre sus apariciones públicas en entrevistas, sus actuaciones en videoclips o sus momentos
            cotidianos en las redes sociales. Este hecho evidencia la consistencia del artista en la
            proyección de su estilo distintivo a lo largo de diversas formas de comunicación.<br>
        </p>
        <q class="gupter-bold mx-5" id="citation2"></q>
    </div>

    <div id="paragrapArtist2" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
            Bad Bunny, con una base de seguidores que alcanza los 39,3 millones en Instagram, 17,8
            millones en TikTok, 12 millones en Facebook y 4 millones en Twitter, se caracteriza por una
            presencia digital diversificada. Sin embargo, durante el período de análisis, se evidencia una
            moderada actividad de publicaciones en sus plataformas. En particular, en Instagram, a pesar
            de haber compartido cinco videos relacionados con su nuevo álbum, el artista optó por
            eliminarlos tras el lanzamiento de la producción discográfica. Asimismo, se observa una
            disparidad significativa en la frecuencia de publicación en cada red social, con 13 publicaciones
            en TikTok, dos en Facebook y diez tuits en Twitter, que incluyen interacciones adicionales
            como retuits y favoritos.
            Dada la preferencia de Bad Bunny por la plataforma TikTok, se destaca que el formato
            principal que emplea de manera predominante es el vídeo. Aunque en Twitter
            ocasionalmente comparte fotos o tuits en formato texto, se observa que, considerando las
            publicaciones eliminadas en Instagram, el formato audiovisual, particularmente el vídeo, es el
            Revista Internacional de Relaciones Públicas, 2023, 26 (13), 141-160 | ISSN: 2174-3681
            148
            más utilizado por el artista. La clasificación del contenido varía según si se orienta a la
            promoción de su música, particularmente en Instagram, o si se centra en aspectos de su vida
            personal, con énfasis en TikTok. Las publicaciones están diseñadas para generar expectativas
            previas al lanzamiento, adoptando una narrativa afectiva (storytelling) que involucra a
            Gabriela (pareja del artista), Mario Casas (actor español) y Bad Bunny.
            En cuanto al contenido vinculado a su vida personal, Bad Bunny busca establecer una conexión
            empática y fomentar el engagement con sus seguidores mediante la publicación de videos
            que documentan su cotidianidad. Este tipo de contenido puede abordar aspectos como el
            desayuno, bromas relacionadas con el consumo de vino o la presentación de su mascota,
            especialmente evidenciado en su presencia en TikTok. Asimismo, en su cuenta de Twitter, se
            aprecia la misma práctica a través de la compartición de fotografías y tuits (ver Figura 2). Por
            último, aunque de manera menos frecuente, se identifica un tipo de contenido publicitario en
            los perfiles de Twitter y TikTok de Bad Bunny, centrado en la promoción de marcas con las que
            colabora, como AirBnb, Vogue, Chanel o Louis Vuitton.
        </p>
        <q class="gupter-bold mx-5" id="citation1"></q>
    </div>

    <div id="paragrapArtist3" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
            Rosalía cuenta actualmente con una audiencia de 20,1 millones de seguidores en Instagram,
            20 millones en TikTok, 3,5 millones en Facebook y 3,3 millones en Twitter. En sus redes
            sociales, destaca el uso frecuente de Instagram, con una media de tres publicaciones
            semanales, seguido de Twitter, especialmente tras el lanzamiento de su álbum "Motomami",
            y TikTok, con una frecuencia media de una publicación semanal. En contraste, Facebook es la
            plataforma menos utilizada, evidenciándose solo tres publicaciones durante el periodo
            analizado. La diversidad de formatos caracteriza sus publicaciones, abarcando vídeos, fotos y
            textos, siendo la imagen el formato más recurrente.
            El contenido compartido por Rosalía en sus redes sociales puede clasificarse principalmente
            en dos categorías: aquel que versa predominantemente sobre su nuevo proyecto musical y
            aquel de índole personal, diseñado para entretener y fomentar la interacción con sus
            seguidores. Ejemplos concretos incluyen fotografías de sus experiencias en Londres y París
            con amigos, imágenes y vídeos con su pareja, instantáneas de sus atuendos sin relación con
            su obra discográfica, y fotografías con su familia o disfrutando de actividades recreativas
            (Figura 3).
            Twitter emerge como la plataforma donde Rosalía encuentra un espacio para expresarse de
            manera más libre e interactuar con mayor facilidad con su comunidad. Por otro lado, en TikTok
            se aprecia un contenido más espontáneo, personal y desenfadado, lo que se traduce en
            publicaciones promocionales de su música con un tono natural e incluso humorístico.
            Revista Internacional de Relaciones Públicas, 2023, 26 (13), 141-160 | ISSN: 2174-3681
            150
            Finalmente, Instagram se erige como la plataforma principal donde Rosalía comparte
            contenido diverso con distintas intenciones.
        </p>
        <q class="gupter-bold mx-5" id="citation3"></q>
    </div>

    <div id="paragrapArtist4" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
            Billie Eilish cuenta con una destacada audiencia en redes sociales, sumando 102 millones de
            seguidores en Instagram, 43.6 millones en TikTok, 32 millones en Facebook y 6.7 millones en
            Twitter. La artista mantiene una presencia más activa en Instagram y Twitter, con una
            frecuencia de publicación de dos veces por semana, mientras que en Facebook realiza cuatro
            publicaciones al mes y en TikTok comparte cuatro vídeos en un periodo de tres meses. La
            mayor parte del contenido que Eilish comparte adopta el formato de imágenes.
            Las imágenes publicadas se centran en su carrera musical, con menor énfasis en proyectos
            profesionales no vinculados a la música, como la promoción de su perfume o su participación
            en una revista de moda, reflejando escasamente aspectos de su vida personal. En Instagram,
            solo se aprecian cinco fotografías de la artista lejos de los escenarios, estudios o reflectores.
            En cambio, en TikTok, Eilish comparte vídeos de tono humorístico. Se puede concluir que el
            contenido de sus redes sociales se orienta a mostrar principalmente su vida profesional.
            Las imágenes abarcan momentos de conciertos, expresando agradecimiento por el apoyo
            recibido y destacando su desempeño, así como fechas de giras para su promoción, y anuncios
            de participación en programas televisivos. Es relevante señalar que se presume que los
            Revista Internacional de Relaciones Públicas, 2023, 26 (13), 141-160 | ISSN: 2174-3681
            152
            perfiles de Facebook y Twitter, donde solo se comparte contenido profesional, podrían no ser
            gestionados directamente por la artista, como se sugiere en los pies de las publicaciones de
            ambas redes sociales, redactados en tercera persona
        </p>
        <q class="gupter-bold mx-5" id="citation4"></q>
    </div>

    <div id="paragrapArtist5" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
            C. Tangana cuenta con 1.6 millones de seguidores en Instagram, 432 mil en Twitter, 400 mil
            en TikTok y 317 mil en Facebook. Aunque mantiene una presencia constante, sus
            publicaciones son escasas, limitándose a una al mes en cada plataforma. Destaca que el mes
            de febrero registró la mayor actividad del artista en cuanto a la publicación de contenido en
            todas las plataformas, representando más de la mitad de sus contribuciones para el año 2022.
            Este aumento de actividad coincide con el lanzamiento de su más reciente álbum, titulado "El
            Madrileño". Se observa una mayor dinámica en Twitter, posiblemente influenciada por la
            función de retuiteo.
            En cuanto al formato de sus publicaciones, C. Tangana suele emplear videos, aunque en
            Twitter también utiliza contenido en formato texto. Todas sus publicaciones giran en torno a
            su nuevo disco y su gira, abarcando fechas y detalles sobre los conciertos, así como videos de
            las presentaciones. Además, se destaca la importancia dada a la exhibición de su vestimenta,
            especialmente visible en Instagram (Figura 6), donde el artista comparte imágenes destacadas
            de su estilo. Es relevante señalar que anticipa eventos importantes, como el lanzamiento de
            videoclips, informando previamente a través de sus redes sociales antes de su estreno oficial.
            La comunicación de C. Tangana, en términos generales, tiene la intención de informar y
            persuadir a la comunidad, presentando experiencias para atraer a más seguidores a sus
            conciertos y aumentar la venta de entradas mediante enlaces directos. Además, se percibe
            una clara intención de generar expectativas al hacer públicas las fechas de lanzamiento de
            Revista Internacional de Relaciones Públicas, 2023, 26 (13), 141-160 | ISSN: 2174-3681
            154
            videoclips, compartiendo solo fragmentos de estos. En particular, el canal de Twitter se utiliza
            para crear tuits con mensajes directos y preguntas a la comunidad, indicando un deseo del
            artista de obtener respuestas, interactuar y fomentar un sentimiento de comunidad y
            conexión entre sus seguidores. Los comentarios de los seguidores suelen abordar tres temas
            principales: solicitudes para presentaciones en ciudades específicas, mensajes de estima y
            agradecimiento, y elogios. Este intercambio refleja un sentido de comunidad, manifestándose
            a través de interacciones y compromiso mediante etiquetas y menciones en comentarios, así
            como a través de la expresión de aprecio mutuo mediante likes y respuestas. Aunque la
            interacción directa del artista con sus seguidores no es extensa, se destaca su participación en
            Twitter, donde retuitea comentarios de sus fans, generando así un nivel de interacción. En
            cuanto a las expresiones y la comunicación del artista, C. Tangana se presenta ocasionalmente
            como "Puchito", una identidad utilizada también en las letras de sus canciones, y que ha sido
            adoptada por su comunidad al referirse a él en los comentarios. A pesar de la intención
            informativa y promocional, se observa un tono más provocador y juguetón en Twitter,
            evidenciando el gusto del artista por utilizar su ego como una forma de discurso provocador.
            Este enfoque, definido por él mismo como "el famoso provocador rapero madrileño", se
            refleja también en sus letras, donde aborda temas polémicos y críticos, como en la canción
            "Ateo".
            En cuanto a la vestimenta y estética, C. Tangana destaca por accesorios como cadenas y
            colgantes de oro, camisas amplias y estampadas, pantalones de pinza y zapatos clásicos. Su
            elección de estilo parece buscar una estética claramente española, inspirada en los años 80,
            con una apropiación de símbolos culturales, a pesar de generar polémica. Esta imagen se
            proyecta no solo en sus redes sociales y entrevistas, sino también en todos sus videoclips,
            donde utiliza símbolos españoles y refleja una conexión con la cultura y el estilo de vida
            español.
        </p>
        <q class="gupter-bold mx-5" id="citation5"></q>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-nav-umb">
                    <h5 class="modal-title" id="contactUsModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm">
                        <div class="mb-3">
                            <label for="namesInput" id="nameLabel" class="form-label"></label>
                            <input type="text" class="form-control" id="namesInput" name="namesInput"
                                aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="lastNamesInput" class="form-label" id="lastNameLabel"></label>
                            <input type="text" class="form-control" id="lastNamesInput" name="lastNamesInput"
                                aria-describedby="lastNamesHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" id="emailLabel"></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="phoneInput" class="form-label" id="phoneLabel"></label>
                            <input type="tel" class="form-control" id="phoneInput" name="phoneInput">
                        </div>
                        <div class="mb-3">
                            <label for="messageFormControlTextarea" class="form-label" id="messageTextArea"></label>
                            <textarea class="form-control" id="messageFormControlTextarea" name="descriptionArea"
                                rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" id="closeModal"
                                data-bs-dismiss="modal"></button>
                            <button type="button" class="btn btn-outline-primary" id="sendButton"
                                onclick="storeInfoContact();"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->


    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="aboutUs"></h5>
                    <p class="gupter-regular text-center" id="description"></p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="quickWays"></h5>
                    <ul class="list-unstyled text-center">
                        <li><a href="#" class="text-decoration-none text-dark gupter-regular" onclick="showModal()"
                                id="contactUs"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="followUs"></h5>
                    <ul class="list-inline social-icons text-center">
                        <li class="list-inline-item"><a id="facebook" class="text-dark"><i
                                    class="bi bi-facebook"></i></a></li>
                        <li class="list-inline-item"><a id="twitter" class="text-dark"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a id="instagram" class="text-dark"><i
                                    class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="gupter-regular">&copy; 2024 Universidad Manuela Beltran. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Jquery Library -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- General Javascript -->
    <script src="../public/javascript/general.js"></script>

    <!-- Bootstrap Library JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>