<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="resourceTitle"></title>
    <!-- O Introduccion o metodologia o resultados -->
    <!-- Bootstrap Library CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- General CSS -->
    <link rel="stylesheet" href="../public/css/general.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>


    <nav class="navbar bg-nav-umb fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand gupter-bold text-show" id="titleNavBar"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end bg-nav-umb" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title gupter-regular" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show active" aria-current="page" id="navBarMainTitle1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="introduction1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="methodology1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link gupter-regular text-show" id="theme1"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle gupter-regular" href="#" role="button" id="examples" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu bg-nav-umb">
                                <li><a class="dropdown-item gupter-regular text-show" id="person1" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person2" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person3" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person4" href="#"></a></li>
                                <li><a class="dropdown-item gupter-regular text-show" id="person5" href="#"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2 gupter-regular" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary gupter-regular" type="submit" id="search"></button>
                    </form>
                </div>
            </div>
        </div>
    </nav>


    <h1 class="text-center gupter-regular" style="margin-top: 7%;" id="resourceContentTitle"></h1>

    <div id="paragraphContentTeoric" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="">
        Dado que se abordan las acciones comunicativas que establecen la conexión entre el artista
        musical y su audiencia, este estudio se enfoca en el núcleo mismo de la conceptualización de
        relaciones públicas (Cutlip et al., 1985; Grunig y Grunig, 2000). <br> La comunicación con las
        comunidades se configura como una relación con los públicos y puede adoptar modalidades
        de comunicación estratégica. <br> Esta perspectiva concibe todas las interacciones cruciales para
        una entidad, abarcando no únicamente las conversaciones formales que convergen hacia un
        objetivo específico (Zerfass et al., 2018). <br> En paralelo, se postula que la identidad se construye
        Revista Internacional de Relaciones Públicas, 2023, 26 (13), 141-160 | ISSN: 2174-3681
        144 a partir de valores, principios y visión, constituyendo la fuente de una diferenciación
        perdurable (Argenti, 2014). <br>
        Un repertorio extenso de estudios previos se vincula al objeto de indagación propuesto. La
        tesis de Herrera (2008) se propone dilucidar la influencia de la comunicación en la
        conformación de la marca de un artista. Por su parte, Posada (2020) destaca, en su
        investigación, la importancia de forjar una marca personal para un artista musical
        independiente, subrayando la carencia de evolución en muchos artistas debido a la ausencia
        de una estrategia apropiada. <br> Mestre (2020) aborda las prácticas comunicativas a través de las
        cuales las seguidoras del K-pop generan comunidades afectivas en torno a un artista
        específico. <br> Fernández (2015) concluye, en su estudio, que el talento ya no es suficiente para
        prosperar en el ámbito musical, siendo imperativa una eficaz gestión comunicativa. En la
        investigación de Edlom y Karlsson (2021), centrada en los seguidores del K-pop, se enfatiza
        que la comunidad proporciona un sentido de pertenencia y cohesión. Posada (2020),
        nuevamente, resalta la construcción de un fandom y de una comunidad como el elemento
        que fortalece y fundamenta un proyecto musical. <br>
        Martínez (2015) dirige su investigación hacia el análisis de la operatividad y la comunicación
        llevada a cabo por las salas de conciertos, concluyendo que, en términos comunicativos,
        persiste la utilización de medios convencionales, como la radio o la cartelería, con una
        concomitante integración de medios en línea, a pesar de la prominencia de las redes sociales
        y tecnologías. <br> No obstante, Posada (2020) subraya el impacto significativo de la
        transformación tecnológica y resalta cómo esta ha generado herramientas más accesibles y
        oportunidades ampliadas para la construcción de una carrera musical. <br> En consonancia, Béjar
        (2019) evidencia cómo las redes sociales se han vuelto un canal indispensable para los artistas
        musicales en términos de fidelización de sus seguidores. <br> Por su parte, Prado (2019) afirma que
        los cantantes ya no comercializan únicamente música, sino que ofrecen contenidos que
        provocan emociones, entretienen y constituyen una experiencia singular, validando así la
        creciente importancia de las relaciones públicas como instrumento de comunicación.
        Este estudio, de índole exploratoria, se focaliza en la esfera comunicativa de los artistas
        musicales, examinando minuciosamente los canales utilizados, los mensajes diseminados y la
        configuración discursiva inherente. Con el propósito de alcanzar este objetivo, se plantean las
        siguientes preguntas de investigación: <br>
        RQ: ¿Cómo se comunican los artistas musicales con sus comunidades y/o fans (seguidores)
        online?<br>
        a) ¿De qué manera los artistas musicales utilizan las redes sociales como instrumento
        de comunicación?<br>
        b) ¿Cuál es la naturaleza del contenido empleado en dicha comunicación?<br>
        c) ¿Cómo se manifiesta la interacción del artista con sus comunidades y cuáles son los
        patrones de comportamiento de estas últimas?<br>
        d) ¿Cuáles son las características distintivas del discurso del artista y qué simbología
        subyacente se desprende de este?<br>
        </p>
        <q class="gupter-bold mx-5" id="citation2"></q>
    </div>

    <div id="paragraphContentMethologic" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5">
        Con el propósito de profundizar en la comprensión de la comunicación en las redes sociales
        de los artistas musicales, se plantea la implementación de un estudio de casos múltiples,
        holísticos, descriptivos y sincrónicos, siguiendo la metodología propuesta por Yin (2009). Este
        enfoque implica el análisis individualizado de la comunicación de diversos artistas durante un
        periodo de tres meses, con el objetivo de proporcionar una descripción detallada de su
        interacción con sus comunidades y/o seguidores en plataformas de redes sociales.

        La selección de los artistas objeto de estudio se llevó a cabo mediante la aplicación de criterios
        específicos, considerando aspectos como la internacionalidad, la diversidad de géneros
        musicales, el índice de escucha en Spotify y la popularidad en Instagram, medida a través del
        número de seguidores. La intención subyacente consiste en examinar la comunicación desde
        perspectivas diversas, empleando el criterio de diversidad máxima. Tras este proceso de
        selección, se identificaron cinco artistas: Justin Bieber, Bad Bunny, Rosalía, Billie Eilish y C.
        Tangana.
        Se ha procedido a la selección de la comunicación emitida a través de las plataformas
        Instagram, TikTok, Twitter y Facebook durante el periodo comprendido entre el 1 de enero de
        2022 y el 30 de marzo de 2022. Se fundamenta esta elección en la consideración de que estas
        herramientas de comunicación representan los canales a través de los cuales se puede
        observar al artista interactuar y expresarse de manera más informal y próxima, al tratarse de
        sus redes sociales personales. En consonancia, se ha efectuado un análisis de los comentarios
        emitidos por los seguidores en las mencionadas plataformas, con el propósito de comprender
        la dinámica comunicativa de la comunidad. El examen del contenido de las redes sociales ha
        sido realizado bajo un enfoque cualitativo, desglosándose en 11 parámetros: frecuencia,
        formato, contenido, intención comunicativa de los mensajes, tono de comunicación,
        expresiones, gestos, saludo, colores, tipo de ropa y accesorios. Este análisis se complementa
        con la selección de videoclips y entrevistas, identificadas como elementos potenciales en los
        que el formato audiovisual y la mayor duración ofrecen la posibilidad de captar símbolos y
        mensajes más profundos. Se han seleccionado los cinco videoclips y entrevistas más recientes
        dentro del periodo de análisis, con la intención de garantizar que la imagen proyectada sea lo
        más fiel posible a la actualidad.
        En cuanto al análisis de las entrevistas, se han considerado nueve factores: tono, expresiones,
        gestos, saludo, rasgos de personalidad dominantes, estética, vestimenta, accesorios y
        peinados. Para los videoclips, se han examinado elementos en cinco parámetros: rasgos de
        personalidad dominantes, estética, vestimenta, accesorios y peinados.
        </p>
        <div class="table-responsive-sm">
            <table class="table table-dark table-bordered table-striped-columns mx-5">
                <thead>
                    <tr>
                        <th>Método de Investigación</th>
                        <th>Técnica de Tratamiento de Datos</th>
                        <th>Técnica</th>
                        <th>Proceso Para Concluir</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>Estudio de casos</td>
                        <td>Análisis de contenido y documentos</td>
                        <td>Descripción y comparación</td>
                        <td>Extracción de patrones, tendencias. <br> Correlaciones con el marco teorico</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <q class="gupter-bold mx-5" id="citation1"></q>
    </div>

    <div id="paragraphContentResults" class="d-none">
        <p class="card-text gupter-regular beautiful-text mx-5 my-5" id="paragraphContentResults">
        La utilización de un análisis de casos múltiples ha facultado la exploración y discernimiento
        cualitativo de los aspectos más significativos de la comunicación desplegada por cada artista.
        En aras de establecer un contexto cuantitativo, se han recopilado y determinado datos
        relativos a las redes y su actividad. En la fase de presentación y análisis de los datos, se procede
        a la síntesis de los elementos más relevantes de la información recabada.
        </p>
        <q class="gupter-bold mx-5" id="citation3"></q>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-nav-umb">
                    <h5 class="modal-title" id="contactUsModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm">
                        <div class="mb-3">
                            <label for="namesInput" id="nameLabel" class="form-label"></label>
                            <input type="text" class="form-control" id="namesInput" name="namesInput" aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="lastNamesInput" class="form-label" id="lastNameLabel"></label>
                            <input type="text" class="form-control" id="lastNamesInput" name="lastNamesInput" aria-describedby="lastNamesHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" id="emailLabel"></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="phoneInput" class="form-label" id="phoneLabel"></label>
                            <input type="tel" class="form-control" id="phoneInput" name="phoneInput">
                        </div>
                        <div class="mb-3">
                            <label for="messageFormControlTextarea" class="form-label" id="messageTextArea"></label>
                            <textarea class="form-control" id="messageFormControlTextarea" name="descriptionArea" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" id="closeModal" data-bs-dismiss="modal"></button>
                            <button type="button" class="btn btn-outline-primary" id="sendButton" onclick="storeInfoContact();"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="aboutUs"></h5>
                    <p class="gupter-regular text-center" id="description"></p>
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="quickWays"></h5>
                    <ul class="list-unstyled text-center">
                        <li><a href="#" class="text-decoration-none text-dark gupter-regular" onclick="showModal()" id="contactUs"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h5 class="gupter-medium text-center" id="followUs"></h5>
                    <ul class="list-inline social-icons text-center">
                        <li class="list-inline-item"><a id="facebook" class="text-dark"><i class="bi bi-facebook"></i></a></li>
                        <li class="list-inline-item"><a id="twitter" class="text-dark"><i class="bi bi-twitter"></i></a></li>
                        <li class="list-inline-item"><a id="instagram" class="text-dark"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="gupter-regular">&copy; 2024 Universidad Manuela Beltran. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>



    <!-- Jquery Library -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- General Javascript -->
    <script src="../public/javascript/general.js"></script>

    <!-- Bootstrap Library JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>